.ui.borderless.menu {
  background-color: #ffffff;
  box-shadow: none;
  border: none;
}

.ui.borderless.middle.menu {
  box-shadow: none;
  border: none;
}

.footer-background {
  background-color: #004030;
  height: 200px;
  color: white;
  padding-top:20px;
  padding-bottom: 20px;
}

.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  height: 500px;
  color: #ffffff;
}